a.out
*.swp
*.class
moc/egg
tests/**/*.tam
tests/**/*.ll
tests/**/*.s
tests/**/*.old
rapport/*.log
rapport/*.aux
rapport/*.log
rapport/*.nav
rapport/*.out
rapport/*.snm
rapport/*.toc
rapport/*.vrb
rapport/*.pdf
javadoc/
