*.swp
*.class
moc/egg
tests/*.tam
tests/*.ll
tests/**/*.tam
tests/**/*.ll
rapport/*.log
rapport/*.aux
rapport/*.log
rapport/*.nav
rapport/*.out
rapport/*.snm
rapport/*.toc
rapport/*.vrb
rapport/*.pdf
