a.out
*.swp
*.class
moc/egg
tests/**/*.tam
tests/**/*.ll
tests/**/*.s
tests/**/*.old
report/*.log
report/*.aux
report/*.log
report/*.nav
report/*.out
report/*.snm
report/*.toc
report/*.vrb
report/*.pdf
javadoc/
